:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10 auto;
  height: 100vh;
}

.container {
  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
  padding: 20px;

  position: relative;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: #e2e8f0;
  padding: 20px;
  border-radius: 10px;
  visibility: hidden;
  position: absolute;
  /* height: auto; */
  top: 100px;
  z-index: 1;
}

input:focus {
  outline: none;
}

input:invalid {
  border: 2px solid red;
}

.library {
  width: 100%;
  margin: 20px;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 20px;

  border: 1px solid blue;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  max-width: 250px;
  position: relative;
}

.del-button {
  position: absolute;
  background-color: gray;
  right: 5%;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.del-button:hover {
  cursor: pointer;
}

.status {
  display: flex;
  justify-content: space-between;
}

/* .card {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 10px;
  border-radius: 8px;
  background: #f9f9f9;
  width: 200px;
}

.status {
  font-weight: bold;
  margin: 5px 0;
}

.toggle-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-btn:hover {
  background: #0056b3;
} */

/* 
input,
button {
  appearance: none;
} */
