:root {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  --bg-main: #f5f3f4;
  --bg-card: #fff8e7;
  --accent-color: #a4c3b2;
  --text-main: #4a4e69;
  --text-secondary: #6d6875;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px auto;
  height: 100vh;
}

.container {
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;

  position: relative;
}

.addBook {
  font-size: 1.4rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-main);
  color: var(--text-main);
  padding: 20px;
  border-radius: 10px;
  visibility: hidden;
  position: absolute;
  width: 350px;
  top: 15%;
  z-index: 1;
}

.input .read {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  border: 0;
  border-radius: 12px;
  padding: 5px 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked::after {
  color: var(--text-main);
  content: "x";
  font-size: 1rem;
  position: absolute;
  top: -3px;
  left: 6px;
}

.input button {
  font-size: 1.1rem;
  background-color: var(--bg-card);
  width: 30%;
  align-self: center;
}

.input button:hover {
  background-color: #fff5df;
}

input,
button {
  color: var(--text-main);
  font-family: inherit;
  appearance: none;
}

input:focus {
  outline: none;
}

input:invalid {
  border: 2px solid red;
}

.library {
  width: 100%;
  margin: 20px;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  justify-content: center;

  border-radius: 10px;

  background-color: var(--bg-main);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 10px;
  padding: 1rem;
  height: auto;
  position: relative;
  line-height: 120%;

  background-color: var(--bg-card);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  color: var(--text-main);
}

.card:hover {
  top: -1%;
  background-color: #fff5df;
}
.card p:first-of-type {
  height: 58px;
}
.card p:nth-of-type(2) {
  height: 39px;
}
.card p {
  width: 80%;
}

.del-button {
  position: absolute;
  right: 7%;
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--bg-main);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card span {
  border-radius: 5px;
  padding: 2px 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
